.footer {
    padding: .25rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    background-color: var(--color-text);
}

.footer-title {
    display: flex;
    align-items: center;
    gap: .15rem;

    color: var(--color-background);
    font-size: 18px;
    font-family: var(--font-primary);
    font-weight: bold;
}

.footer-title span {
    color: var(--color-background);
    font-family: var(--font-primary);
    font-weight: bold;
}

.footer-title span:first-child {
    font-size: 22px;
}

.footer-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.footer .navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .15rem;

    color: var(--color-background);
    font-size: 16px;
    font-family: var(--font-primary);
    font-weight: bold;
}

.footer .image-svg {
    color: var(--color-background);
}

@media (max-width: 1000px) {
    .footer {
        padding: .5rem 0;
        flex-direction: column;
        gap: .5rem;
    }

    .footer-navbar {
        flex-direction: column;
        gap: .5rem;
    }
}