.header {
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0 auto;

    display: grid;
    background-color: transparent;
    /* box-shadow: 2px -2px 5px 2px var(--color-text); modificado */

    transition: background-color .3s ease;
}

.header.covering {
    background-color: var(--color-primary);
}

.header-sentinel {
    height: 1px;
}

.header-top,
.header-bottom {
    padding: .25rem 1rem;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.article-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-title,
.title-author {
    color: var(--color-text);
    font-size: 32px;
    font-family: var(--font-primary);
    font-weight: bold;
}

.article-features {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.button {
    height: 30px;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    outline: none;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.container-language {
    position: relative;
    z-index: 1;

    display: grid;

    border-radius: 50%;

    cursor: pointer;
}

.container-language:hover .list-languages {
    display: grid;
}

.container-language:hover {
    background-color: var(--color-tertiary);
}

.container-language:hover .language {
    color: var(--color-background);
}

.language {
    height: 30px;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-text);
    font-size: 20px;
    font-family: var(--font-primary);
    font-weight: bold;
}

.list-languages {
    position: absolute;
    top: 2.25rem;
    left: 0;
    padding: .25rem;

    display: none;
    justify-content: flex-start;
    gap: .25rem;

    outline: 1px solid var(--color-text);
    border: 1px solid var(--color-text);

    background-color: var(--color-tertiary);
}

.item-languages {
    min-width: 6rem;
}

.item-languages:hover {
    background-color: var(--color-text);
}

.item-languages:hover .button-language {
    color: var(--color-background);
}

.button-language {
    padding: .25rem;

    color: var(--color-background);
    font-size: 16px;
    font-family: var(--font-secondary);

    border: none;
    outline: none;

    background-color: transparent;
}

.container-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .15rem;
}

.author-image {
    height: 2.25rem;
    width: 2.25rem;

    padding: .1rem;

    outline: 1px solid var(--color-text);
    border: 1px solid var(--color-text);
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.author-image:hover {
    /* ampliar la imagen*/
}

.header-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list-navbar-links {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
}

.item-navbar-links {
    position: relative;

    display: grid;
    justify-content: center;
}

.header .item-navbar-links:nth-child(3):hover .list-projects {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.header .list-projects {
    position: absolute;
    top: 2rem;
    left: 0;
    min-width: 10rem;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);

    background-color: var(--color-primary);

    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
}

.header .item-projects {
    width: 100%;
    padding: .25rem .5rem;
}

.header .project-link {
    padding: .3rem;
    font-size: 16px;
    font-family: var(--font-secondary);
}

.header .item-projects:hover {
    background-color: var(--color-text);
}

.header .item-projects:hover .project-link {
    color: var(--color-background);
}

.navbar-link {
    position: relative;

    color: var(--color-text);
    font-size: 20px;
    font-family: var(--font-primary);
    font-weight: bold;
    text-align: center;
}

.header-bottom .navbar-link::after {
    content: "";

    height: 4px;
    width: 0;

    position: absolute;
    left: 0;
    bottom: -4px;
    z-index: -1;

    background-color: var(--color-text);

    transition: all .2s ease-out;
}

.header-bottom .navbar-link:hover::after {
    width: 100%;
}

.header .image-svg {
    color: var(--color-text);
}

.button-theme:hover,
.button-menu:hover {
    background-color: var(--color-tertiary);
}

.button:hover .image-svg {
    color: var(--color-background);
}

/* sidebar */
.header-sidebar {
    height: 100vh;
    width: 25rem;

    position: fixed;
    right: 0;
    top: 0;
    padding: .5rem;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: .25rem;

    /* box-shadow: 5px 2px 10px var(--color-text); modificado */
    background-color: var(--color-primary);
    transform: translateX(100%);

    transition: transform .5s ease-in-out;
}

.button-close-menu:hover {
    background-color: var(--color-tertiary);
}

.button-close-menu:hover .image-svg {
    color: var(--color-background);
}

.header-sidebar.active {
    transform: translateX(0);
}

.header-sidebar .section-features {
    display: flex;
    gap: .5rem;
}

.header-sidebar .section {
    position: relative;
    padding: .5rem;
}

.header-sidebar .role-author,
.header-sidebar .title-section {
    position: relative;
}

.header-sidebar .role-author::after,
.header-sidebar .title-section::after {
    content: "";

    height: 2px;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    background-color: var(--color-text);
}

.header-sidebar .section-author {
    display: grid;
    gap: 1rem;
}

.article-author-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-sidebar .sidebar-author-image {
    height: 7rem;
    width: 7rem;

    padding: .15rem;

    outline: 1px solid var(--color-text);
    border: 1px solid var(--color-text);
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.article-author-description {
    display: grid;
    gap: 1rem;
}

.role-author {
    color: var(--color-text);
    font-size: 18px;
    font-family: var(--font-primary);
    font-weight: bold;
}

.description-author {
    color: var(--color-text);
    font-size: 16px;
    font-family: var(--font-secondary);
}

.section-contact {
    display: grid;
    gap: 1rem;
}

.title-section {
    color: var(--color-text);
    font-size: 18px;
    font-family: var(--font-primary);
}

.list-contact {
    display: grid;
    gap: .5rem;
}

.list-contact .navbar-link {
    display: flex;
    align-items: center;
    gap: .5rem;

    color: var(--color-text);
    font-size: 16px;
    font-family: var(--font-secondary);
    font-weight: normal;
}

.header-sidebar .section-explore {
    display: none;
    gap: 1rem;
}

.header-sidebar .header-navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
}

.header-sidebar .header-navbar .navbar-link {
    color: var(--color-text);
    font-size: 16px;
    font-family: var(--font-secondary);
    font-weight: normal;
}

@media (max-width: 800px) {
    .header-bottom {
        display: none;
    }

    .header-sidebar {
        width: 20rem;
    }

    .header-sidebar .section-explore {
        display: grid;
    }

    .header-sidebar .description-author {
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .header-sidebar {
        width: 100%;
    }
}