.main {
    width: 70vw;

    margin: 0 auto;

    display: flex;
}

.main .side-menu {
    height: fit-content;
    width: 25rem;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;
}

.side-menu-author-image {
    height: 15rem;
    width: 15rem;

    padding: .15rem;

    border: 2px solid var(--color-text);
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.side-menu-author-name {
    color: var(--color-text);
    font-size: 30px;
    font-family: var(--font-primary);
    font-weight: bold;
}

.side-menu-author-role {
    color: var(--color-text);
    font-size: 20px;
    font-family: var(--font-primary);
    font-weight: bold;
}

.side-menu-author-description {
    color: var(--color-text);
    font-size: 18px;
    font-family: var(--font-secondary);
    font-weight: normal;
}

.article-side-menu-info *,
.article-side-menu-social * {
    color: var(--color-background);
}

.article-side-menu-info,
.article-side-menu-social {
    width: 100%;

    padding: .75rem;

    display: grid;
    gap: .75rem;

    background-color: var(--color-primary);
}

.side-menu-link {
    display: flex;
    align-items: center;
    gap: .5rem;

    color: var(--color-text);
    font-size: 16px;
    font-family: var(--font-secondary);
    font-weight: normal;
}

.main-content {
    display: grid;
    gap: 1rem;
}

.main-content .article {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.main-content .article h2 {
    padding-left: .25rem;
    color: var(--color-background);
    background-color: var(--color-primary);
}

.title-article {
    color: var(--color-text);
    font-size: 30px;
    font-family: var(--font-primary);
    font-weight: bold;
}

.article-paragraph {
    color: var(--color-text);
    font-size: 20px;
    font-family: var(--font-secondary);
    font-weight: normal;
    line-height: 2;
}

.list-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.item-technology {
    min-width: 5rem;

    position: relative;
    padding: .5rem;

    border: 2px solid var(--color-text);

    color: var(--color-text);
    font-size: 18px;
    font-family: var(--font-secondary);
    font-weight: normal;
    text-align: center;

    cursor: pointer;

    transition: color .4s ease-out;
}

.item-technology::after {
    content: "";

    height: 100%;
    width: 0%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    overflow: hidden;

    background-color: var(--color-text);

    transition: width .4s ease-out;
}

.item-technology:hover::after {
    width: 100%;
}

.item-technology:hover {
    color: var(--color-background);
}

.item-project,
.item-human-language {
    min-height: fit-content;
    width: 100%;


    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;

    border: 2px solid var(--color-text);
}

.title-project-wrapper,
.link-project-wrapper {
    padding: .25rem 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title-project-wrapper {
    gap: 2rem;
}

.link-project-wrapper {
    position: relative;
    gap: .25rem;
}

.title-project,
.title-human-language {
    color: var(--color-text);
    font-size: 20px;
    font-family: var(--font-secondary);
    font-weight: bold;
}

.link-project,
.description-project,
.explanation-project,
.level-human-language {
    color: var(--color-text);
    font-size: 16px;
    font-family: var(--font-secondary);
    font-weight: normal;
}

.link-project-wrapper::after {
    content: "";

    height: 4px;
    width: 0%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    background-color: var(--color-text);

    transition: all .4s ease-out;
}

.link-project-wrapper:hover::after {
    width: 100%;
}

.main .list-projects,
.list-human-languages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    gap: .5rem;
}

.article-languages {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.title-article span {
    margin-left: .25rem;

    color: var(--color-text);
    font-size: 16px;
    font-family: var(--font-secondary);
    font-weight: normal;
    font-style: italic;
}

@media (max-width: 1000px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .main .side-menu {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
    }

    .side-menu-author-image,
    .article-side-menu-social {
        display: none;
    }

    .main .list-projects,
    .list-human-languages {
        display: flex;
        flex-wrap: wrap;
    }
}