:root {
    /* colores */
    --color-text: #010a09;
    --color-background: #f6fefd;
    --color-primary: #24e2cb;
    --color-secondary: #81bbee;
    --color-tertiary: #80142b;
    --color-accent: #557be8;
    /* fuentes */
    --font-primary: "Stack Sans Notch", sans-serif;
    --font-secondary: "Stack Sans Text", sans-serif;
}

:root.dark {
    --color-text: #f6fefd;
    --color-background: #010908;
    --color-primary: #1dddc7;
    --color-secondary: #114b7e;
    --color-tertiary: #f6fefd;
    --color-accent: #173fab;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: color .4s ease-out, background-color .5s ease-out;
}

body {
    position: relative;
    background-color: var(--color-background);
}

li {
    list-style: none;
}

.link {
    color: var(--color-text);
    text-decoration: none;
}